<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wxl.system.dao.ManagerDAO">

    <!--查询管理员-->
    <select id="findByMno" resultType="Manager">
        select * from manager_tb where mno = #{mno}
    </select>


    <!--根据学院返回教师-->
    <select id="findTeacherByDept" parameterType="String" resultType="Teacher">
        SELECT * from teacher_tb where dept = #{dept}
    </select>

    <!--根据学院、年级返回学生-->
    <select id="findStudentByDG" resultType="Student">
        SELECT * from student_tb where dept = #{dept} and grade=#{grade}
    </select>


    <!--注销账号-->
    <update id="cancelAccounts" parameterType="java.util.List">
        <foreach collection="list" item="account" index="index" open="" close="" separator=";">
            UPDATE user_tb set user_status='0' where account= #{account}
        </foreach>
    </update>

</mapper>