<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wxl.system.dao.ManagerDAO">

    <!--查询管理员-->
    <select id="findByMno" resultType="Manager">
        select * from manager_tb where mno = #{mno}
    </select>


    <!--根据学院返回教师-->
    <select id="findTeacherByDept" parameterType="String" resultType="Teacher">
        SELECT * from teacher_tb where dept = #{dept}
    </select>

    <!--根据学院、年级返回学生-->
    <select id="findStudentByDG" resultType="Student">
        SELECT * from student_tb where dept = #{dept} and grade=#{grade}
    </select>

    <!--修改管理员信息-->
    <update id="update" parameterType="Manager">
        update manager_tb set tel=#{tel},position=#{position},edurecord=#{edurecord},pol=#{pol},worktime=#{worktime},msex=#{msex},mname=#{mname}
        where mno=#{mno}
    </update>

    <!--注销账号-->
    <update id="cancelAccounts" parameterType="java.util.List">
        <foreach collection="list" item="account" index="index" open="" close="" separator=";">
            UPDATE user_tb set user_status='0' where account= #{account}
        </foreach>
    </update>

    <!--发布课表-->
    <insert id="addScheduleTc" parameterType="List">
        insert into tc_tb values
        <foreach collection="list" item="tc" separator=",">
        (#{tc.cno},#{tc.tno},#{tc.classno},#{tc.term},#{tc.hour},#{tc.place},#{tc.time},#{tc.grade},#{tc.id})
        </foreach>
    </insert>

    <insert id="addScheduleSc" parameterType="Tc">
        INSERT into sc_tb
        SELECT id as tc_id,sno,tc_tb.classno,tc_tb.cno,type,credit,null,term
        from tc_tb,course_tb,student_tb WHERE
        student_tb.classno=#{classno} and student_tb.grade=#{grade} and tc_tb.cno=#{cno} and tc_tb.tno=#{tno}
        AND tc_tb.cno=course_tb.cno
        and (student_tb.grade = tc_tb.grade and student_tb.classno=tc_tb.classno)
    </insert>

    <!--检测是否该年级班级-->
    <select id="checkGradeandClass" parameterType="String">
        SELECT id as tc_id,sno,tc_tb.classno,tc_tb.cno,type,credit,null,term
        from tc_tb,course_tb,student_tb WHERE
            student_tb.classno=#{classno} and student_tb.grade=#{grade} and tc_tb.cno=#{cno} and tc_tb.tno=#{tno}
            AND tc_tb.cno=course_tb.cno
            and (student_tb.grade = tc_tb.grade and student_tb.classno=tc_tb.classno)
    </select>

    <!--更新用户行为表-->
    <insert id="updateAction" parameterType="List">
        INSERT INTO action_tb values
            <foreach collection="list" item="action" separator=",">
            (null,#{action.userID},#{action.type},#{action.path},#{action.efID},#{action.className},#{action.sfTime},#{action.efTime},#{action.val},#{action.action})
            </foreach>
    </insert>

    <!--调出用户表-->
    <select id="showAction" resultType="Action">
        select * from action_tb where userID=#{userID} limit #{start},#{rows}
    </select>

    <select id="findTotal" resultType="Integer">
        select count(*) from action_tb where userID=#{userID}
    </select>

    <!-- 查询各行为总数-->
     <select id="showActionCount" resultType="AcCount">
         select action,count(*) as count from action_tb where action in
         <foreach collection="list" item="action" open="(" close=")" separator=",">
            #{action}
         </foreach>
         group by action
      </select>

  </mapper>