<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.wxl.system.dao.NoticeDAO">

    <!--，根据用户账号，分页查询所有广播消息-->
    <select id="findByPage_Notice" resultType="Notice">
       SELECT
	    *
       FROM
	    sendinfo_tb
       WHERE
	    role = (
		SELECT
			role
		FROM
			user_tb
		WHERE
			account = #{account}
	    )
        limit #{start},#{rows}
    </select>

	<!--返回管理员端的消息-->
       <select id="findByPage_NoticeTS" resultType="Notice">
           SELECT
			*
		   FROM
			sendinfo_tb
		   WHERE
			role = #{role}
			limit #{start},#{rows}
	   </select>

	<!--返回消息的总条数-->
	  <select id="findTotals_NoticeTS" resultType="Integer">
		  select
		    count(snum)
		  FROM
	        sendinfo_tb
          WHERE
	        role = #{role}
	  </select>


    <!--查询总条数,针对广播信息-->
    <select id="findTotals_Notice" resultType="Integer">
       SELECT
	    count(snum)
       FROM
	    sendinfo_tb
       WHERE
	    role = (
		SELECT
			role
		FROM
			user_tb
		WHERE
			account = #{account}
	    )
      </select>

     <!--根据消息编号查询消息内容-->
	<select id="findConBySnum" parameterType="String" resultType="String">
		select content from sendinfo_tb where snum=#{snum}
	</select>


	<!--管理员发布通知相关  syq-->
	<!--useGeneratedKeys="true" keyProperty="snum"-->
	<insert id="addNotice" parameterType="Notice" useGeneratedKeys="true" keyProperty="snum">
		insert into sendinfo_tb values(#{role},#{content},#{day},#{title},#{snum})
	</insert>

</mapper>