<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.wxl.system.dao.NoticeDAO">

    <!--，根据用户账号，分页查询所有广播消息-->
    <select id="findByPage_Notice" resultType="Notice">
       SELECT
	    *
       FROM
	    sendinfo_tb
       WHERE
	    role_id = (
		SELECT
			role_id
		FROM
			user_tb
		WHERE
			account = #{account}
	    )
        limit #{start},#{rows}
    </select>

	<!--返回管理员端的消息-->
       <select id="findByPage_NoticeTS" resultType="Notice">
           SELECT
			*
		   FROM
			sendinfo_tb
		   WHERE
			role_id = #{role_id}
			limit #{start},#{rows}
	   </select>

	<!--返回消息的总条数-->
	  <select id="findTotals_NoticeTS" resultType="Integer">
		  select
		    count(snum)
		  FROM
	        sendinfo_tb
          WHERE
	        role_id = #{role_id}
	  </select>


    <!--查询总条数,针对广播信息-->
    <select id="findTotals_Notice" resultType="Integer">
       SELECT
	    count(snum)
       FROM
	    sendinfo_tb
       WHERE
	    role_id = (
		SELECT
			role_id
		FROM
			user_tb
		WHERE
			account = #{account}
	    )
      </select>

     <!--根据消息编号查询消息内容-->
	<select id="findConBySnum" parameterType="Integer" resultType="String">
		select content from sendinfo_tb where snum=#{snum}
	</select>


	<!--管理员发布公告相关  syq-->
	<!--useGeneratedKeys="true" keyProperty="snum"-->
	<insert id="addNotice" parameterType="Notice" useGeneratedKeys="true" keyProperty="snum">
		insert into sendinfo_tb values(#{snum},#{title},#{day},#{content},#{role})
	</insert>

	<!--管理员删除公告相关  syq-->
	<delete id="delNotice" parameterType="Integer">
		DELETE from sendinfo_tb where snum in
		<foreach item="snum" collection="list" open="(" close=")" separator=",">
			#{snum}
		</foreach>
	</delete>


</mapper>