<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.wxl.system.dao.OptionalDAO">

    <!-- 学生选课相关 -->
    <!--分页查询所有-->
    <select id="sfindByPage" resultType="Optional">
        select *
        from optional_tb
        order by cno
        limit #{start},#{rows}
    </select>

    <!--查询总条数-->
    <select id="findTotal" resultType="Integer">
        select count(cno) from optional_tb
    </select>

    <!--查询课程-->
    <select id="findByCno" resultType="Optional">
        select * from Optional_tb where cno = #{cno}
    </select>

    <!--学生选课-->
    <update id="update" parameterType="Optional">
        update optional_tb set number=number+1
        where cno=#{cno}
    </update>




    <!-- 发布选课相关 -->
    <!--批量插入课程-->
    <insert id="addOptional" parameterType="List">
        insert into optional_tb values
        <foreach collection="list" item="optional" index="index" separator=",">
        (#{optional.cno},#{optional.cname},#{optional.credit},#{optional.tname},#{optional.place},#{optional.number},#{optional.max},#{optional.grade})
         </foreach>
    </insert>

    <!--管理员选择需要添加的课程-->
    <select id="findTcByCno" resultType="Optional">
        select tc_tb.cno,cname,credit,tname,place,number,grade,term
        from tc_tb,course_tb,teacher_tb
        where tc_tb.cno = course_tb.cno and tc_tb.tno = teacher_tb.tno and tc_tb.cno like "%"#{cno}"%"
    </select>


</mapper>

