<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wxl.system.dao.PermissionDAO">

    <select id="findAllPermission" resultType="Permission">
        SELECT * from permission_tb
    </select>

    <update id="updatePermission" parameterType="Perm">
        UPDATE permission_tb set code =#{code} AND name =#{name} WHERE id=#{id}
    </update>

    <delete id="deletePermission" parameterType="Integer">
        delete from permission_tb where id=#{id}
    </delete>
    
    <select id="findAllRole" resultType="Role">
        select * from role_tb
    </select>

    <select id="findPermissionByRole" parameterType="Integer" resultType="Permission">
        SELECT
            *
        FROM
            permission_tb
        WHERE
                id IN (
                SELECT
                    perm_id
                FROM
                    role_perm_tb
                WHERE
                    role_perm_tb.role_id=#{role_id}
            )
    </select>

    <insert id="insertPermToRole" parameterType="Role_Perm">
        insert into role_perm_tb values (#{role_id},#{perm_id})
    </insert>

    <delete id="deletePermByRole" parameterType="Role_Perm">
        delete from role_perm_tb where perm_id=#{perm_id} and role_id=#{role_id}
    </delete>


</mapper>