<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wxl.system.dao.PermissionDAO">

    <select id="findAllPermission" resultType="Permission">
        SELECT * from permission_tb
    </select>

    <update id="updatePermission">
        UPDATE permission_tb set code =#{code} AND name =#{name} WHERE id=#{id}
    </update>

    <delete id="deletePermission" parameterType="Integer">
        delete from permission_tb where id=#{id}
    </delete>

</mapper>