<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wxl.system.dao.StudentDAO">
    <!--录入学生档案信息-->
    <!--<insert id="insertStudent" parameterType="Student" useGeneratedKeys="true" keyProperty="sno">
        insert into student_tb
        values (#{sno},#{sname},#{sex},#{birth},#{gs},#{pol},#{classno},#{major},#{dept});
    </insert>-->

    <!--批量录入学生信息-->
    <insert id="insertStudent" parameterType="list">
        insert into student_tb values
        <foreach collection="list" item="student" separator=",">
            (#{student.sno},#{student.sname},#{student.sex},#{student.birth},#{student.gs},#{student.pol},#{student.classno},#{student.major},#{student.dept},#{student.grade})
        </foreach>
    </insert>

    <!--根据学号查询学生信息-->
    <select id="findBySno" resultType="Student">
        select * from student_tb where sno = #{sno}
    </select>

    <!--修改学生信息-->
    <update id="update" parameterType="Student">
        update student_tb set dept=#{dept},major=#{major},classno=#{classno},pol=#{pol},gs=#{gs},birth=#{birth},sex=#{sex},sname=#{sname},grade=#{grade}
        where sno=#{sno}
    </update>


    <!--，根据班级号，分页查询所有学生信息-->
    <select id="findByPage" resultType="Student_abbr">
        SELECT
            student_tb.sno,
            student_tb.sname
        FROM
            student_tb,
            sc_tb
        WHERE
            student_tb.sno = sc_tb.sno
        AND sc_tb.cno = (
            SELECT
                cno
            FROM
                course_tb
            WHERE
                cname = #{cname}
        )
        AND student_tb.grade = #{grade}
        AND sc_tb.classno = #{classno}


        limit #{start},#{rows}

    </select>


    <!--查询总条数,针对学生信息-->
      <select id="findTotals" resultType="Integer">
        SELECT
             COUNT(student_tb.sno)
        FROM
            student_tb,
            sc_tb
        WHERE
            student_tb.sno = sc_tb.sno
        AND sc_tb.cno = (
            SELECT
                cno
            FROM
                course_tb
            WHERE
                cname = #{cname}
        )
        AND student_tb.grade = #{grade}
        AND sc_tb.classno = #{classno}
      </select>


    <!--学生根据学期，查看课表-->

    <select id="findScheduleS" parameterType="list" resultType="StuSchedule">
        SELECT
        course_tb.cname,
        tc_tb.classno,
        teacher_tb.tname,
        tc_tb.place,
        tc_tb.`hour`,
        tc_tb.time
        FROM
        tc_tb,
        course_tb,
        teacher_tb
        WHERE
        tc_tb.cno = course_tb.cno
        AND tc_tb.tno = teacher_tb.tno
        AND tc_tb.id in
        <foreach collection="list" item="stuClassData" separator="," open="(" close=")">
            #{stuClassData.tc_id}
        </foreach>
    </select>

    <!--根据学号、学期返回学生本学期所选修课程-->
    <select id="findStuClassData" resultType="StuClassData">
        SELECT
            sc_tb.tc_id
        FROM
            sc_tb,
            student_tb
        WHERE
            sc_tb.sno = student_tb.sno
        AND sc_tb.sno = #{sno}
        AND sc_tb.term= #{term}
    </select>

    <!--分页查询所有-->
    <select id="gradefindByPage" resultType="StuCheckGrade">
        select classno,sc_tb.cno,sc_tb.type,sc_tb.credit,grade,term,cname
        from sc_tb,course_tb
        where sno = #{sno} and sc_tb.cno = course_tb.cno and grade is not null
        order by cno
        limit #{start},#{rows}
    </select>

    <!--查询总条数-->
    <select id="findTotal" resultType="Integer">
        select count(cno) from sc_tb where sno = #{sno};
    </select>
</mapper>