<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wxl.system.dao.StudentDAO">
    <!--录入学生档案信息-->
    <!--<insert id="insertStudent" parameterType="Student" useGeneratedKeys="true" keyProperty="sno">
        insert into student_tb
        values (#{sno},#{sname},#{sex},#{birth},#{gs},#{pol},#{classno},#{major},#{dept});
    </insert>-->

    <!--批量录入学生信息-->
    <insert id="insertStudent" parameterType="list">
        insert into student_tb values
        <foreach collection="list" item="student" separator=",">
            (#{student.sno},#{student.sname},#{student.sex},#{student.birth},#{student.gs},#{student.pol},#{student.classno},#{student.major},#{student.dept},#{student.grade})
        </foreach>
    </insert>

    <!--根据学号查询学生信息-->
    <select id="findBySno" resultType="Student">
        select * from student_tb where sno = #{sno}
    </select>

    <!--修改学生信息-->
    <update id="update" parameterType="Student">
        update student_tb set dept=#{dept},major=#{classno},pol=#{pol},gs=#{gs},birth=#{birth},sex=#{sex},sname=#{sname},grade=#{grade}
        where sno=#{sno}
    </update>


    <!--，根据班级号，分页查询所有学生信息-->
    <select id="findByPage" resultType="Student_abbr">
        SELECT
            student_tb.sno,
            student_tb.sname
        FROM
            student_tb,
            sc_tb
        WHERE
            student_tb.sno = sc_tb.sno
        AND sc_tb.cno = (
            SELECT
                cno
            FROM
                course_tb
            WHERE
                cname = #{cname}
        )
        AND student_tb.grade = #{grade}
        AND sc_tb.classno = #{classno}


        limit #{start},#{rows}

    </select>


    <!--查询总条数,针对学生信息-->
      <select id="findTotals" resultType="Integer">
        SELECT
             COUNT(student_tb.sno)
        FROM
            student_tb,
            sc_tb
        WHERE
            student_tb.sno = sc_tb.sno
        AND sc_tb.cno = (
            SELECT
                cno
            FROM
                course_tb
            WHERE
                cname = #{cname}
        )
        AND student_tb.grade = #{grade}
        AND sc_tb.classno = #{classno}
      </select>



</mapper>