<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wxl.system.dao.TeacherDAO">

    <!--批量插入-->
    <!--录入教师档案信息-->
    <!--    <insert id="insertTeacher" parameterType="Teacher" useGeneratedKeys="true" keyProperty="tno">
        insert into teacher_tb
        values (#{tno},#{tname},#{sex},#{worktime},#{pol},#{edurecord},#{position},#{dept},#{tel});
    </insert>-->
    <insert id="insertTeacher" parameterType="list">
        insert into teacher_tb values
            <foreach collection="list" item="teacher" separator=",">
                 (#{teacher.tno},#{teacher.tname},#{teacher.sex},#{teacher.worktime},#{teacher.pol},#{teacher.edurecord},#{teacher.position},#{teacher.dept},#{teacher.tel})
            </foreach>

    </insert>


    <select id="findByTno" resultType="Teacher">
        select * from teacher_tb where tno = #{tno}
    </select>


    <!--登记学生成绩-->
    <update id="updateGrade" parameterType="java.util.List">
        <foreach collection="list" item="stuGrade" index="index" open="" close="" separator=";">
            UPDATE sc_tb
            SET grade = #{stuGrade.grade},
            credit = CASE
            WHEN grade >= 60 THEN
            (
            SELECT
            credit
            FROM
            course_tb
            WHERE
            cname = #{stuGrade.cname}
            )
            ELSE
            0
            END
            WHERE sno = #{stuGrade.sno} AND cno = (SELECT cno FROM course_tb WHERE cname = #{stuGrade.cname})
        </foreach>
    </update>


</mapper>